html,
body {
  width: 100%;
  height: 100%;
  background-color: #ddfff7;
  z-index: 1;
  position: relative;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.box {
  background-color: rgba(221, 255, 247, 0.1);
}
.box:after,
.box:before {
  mix-blend-mode: multiply;
  filter: none;
  z-index: -1;
  content: '';
  width: 101vh;
  height: 20vh;
  position: absolute;
  display: block;
  animation: border 10s ease-in-out infinite;
  transform: translateX(-50px) translateY(-50px);
}
@keyframes border {
  0%,
  100% {
    -webkit-clip-path: polygon(
      0 0,
      calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
      100% 100%,
      calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
    );
    clip-path: polygon(
      0 0,
      calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
      100% 100%,
      calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
    );
  }
  50% {
    -webkit-clip-path: polygon(
      calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)),
      100% 0,
      calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)),
      0 100%
    );
    clip-path: polygon(
      calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)),
      100% 0,
      calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)),
      0 100%
    );
  }
}

.box:after {
  animation-delay: -5s;
  background-color: navy;
  clip-path: polygon(
    0 0,
    calc(100% - (33.3333333333px)) calc(0% + (33.3333333333px)),
    100% 100%,
    calc(0% + (33.3333333333px)) calc(100% - (33.3333333333px))
  );
}
.box:before {
  background-color: #aa4465;
  clip-path: polygon(
    calc(0% + (33.3333333333px)) calc(0% + (33.3333333333px)),
    100% 0,
    calc(100% - (33.3333333333px)) calc(100% - (33.3333333333px)),
    0 100%
  );
}

.box:hover:after {
  animation-delay: -0.1s;
}
.box:hover:before,
.box:hover:after {
  animation-duration: 0.2s;
}
