@font-face {
  font-family: 'shapeFont';
  src: local('shapeFont'), url(../../fonts/shapeFont.otf) format('opentype');
}

h1 {
  color: navy;
  font-family: 'shapeFont';
  font-size: 3vw;
}

.Header {
  margin-top: -20rem;
  z-index: -1;
  background-color: #ddfff7;
}
